---
---

@import "minima";

blockquote {
  font-style: normal;
  font-size: 16px;
  letter-spacing: normal;
}

details {
  margin-bottom: 15px;
}

div.footer-col-3 {
  width: auto;
  float: right;
}

a.footer-link {
  color: #828282;
  margin-right: 10px;
}
